html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}
html{
  overflow-x: hidden;
}
html{
  width: 100%;
  height: 100%;
}
body{
  font-family: "RussoOne", sans-serif;
  color: #000000;
  font-size: 15px;
  height: 100%;
  position: relative;
}
*{
  font-family: "RussoOne", sans-serif;
}
p{
  color: #1b1c1c;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 15px;
}
ol{
  list-style-type: decimal!important;
}
ol li {
  line-height: 30px;
  text-transform: initial;
  text-align: left;
  font-size: 18px;
  position: relative;
  list-style-type: decimal!important;
}

a{
  color: #f68d29!important;
  text-decoration: underline!important;
  font-size: 18px;
  font-family: "RussoOne",sans-serif;
}
li, ul {
  margin-left: 15px;
}
h1 {
  font-size: 80px;
  margin: 10px 0 20px;
  line-height: normal;
  text-transform: uppercase;
  color: white;
  display: block;
  font-weight: 500;
  font-family: "RussoOne",sans-serif;
}
h2{
  font-size: 40px;
  margin: 20px 0 30px;
  font-weight: 700;
  line-height: 55px;
  text-transform: initial;
  font-family: "RussoOne",sans-serif;
}
h3{
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  margin: 20px 0 20px;
  font-family: "RussoOne",sans-serif;
}
h4{
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 20px;
  font-family: "RussoOne",sans-serif;
}
h5{
  font-size: 13px;
  font-weight: 700;
  line-height: 30px;
  margin: 10px 0 20px;
  font-family: "RussoOne",sans-serif;
}
h6{
  font-size: 11px;
  font-weight: 700;
  line-height: 30px;
  margin: 10px 0 20px;
  font-family: "RussoOne",sans-serif;
}

@media (max-width: 567px) {

}
.container-wrap{
  padding: 0 15px;
}
p{
  line-height: normal;
}
.wrapper{
  max-width: 1536px;
  //padding-left: 20px;
  //padding-right: 20px;
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;

  height: 100%;
}
ul li{

}

